absl-py==0.15.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
biwrap==0.1.6
blessings==1.7
cachetools==4.2.4
cffi==1.15.0
charset-normalizer==2.0.12
clang==5.0
click==8.0.4
cloudpickle==2.0.0
cycler==0.11.0
Cython==0.29.28
d4rl @ git+https://github.com/rail-berkeley/d4rl@4aff6f8c46f62f9a57f79caa9287efefa45b6688
decorator==5.1.1
Deprecated==1.2.13
dm-control @ git+https://github.com/deepmind/dm_control@4110221701c2666df21953b55e98e5c552485599
dm-env==1.5
dm-tree==0.1.6
egl-probe==1.0.2
executing==0.8.2
fasteners==0.17.3
filelock==3.6.0
flatbuffers==1.12
fonttools==4.29.1
future==0.18.2
gast==0.4.0
gin-config==0.5.0
glfw==2.5.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==0.6.0
greenlet==1.1.2
grpcio==1.43.0
gym==0.22.0
gym-notices==0.0.4
h5py==3.1.0
idna==3.3
imageio==2.16.0
imageio-ffmpeg==0.4.5
importlib-metadata==4.11.1
importlib-resources==5.4.0
ipython==8.1.0
jedi==0.18.1
jsonschema==4.4.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
labmaze==1.0.5
llvmlite==0.38.0
lxml==4.8.0
Markdown==3.3.6
matplotlib==3.5.1
matplotlib-inline==0.1.3
mjrl @ git+https://github.com/aravindr93/mjrl@3871d93763d3b49c4741e6daeaebbc605fe140dc
msgpack==1.0.3
mujoco-py==2.0.2.9
numba==0.55.1
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
#Pillow==9.0.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.2.1
pycparser==2.21
Pygments==2.11.2
#pynvim==0.4.3
PyOpenGL==3.1.6
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
ray==1.10.0
redis==4.1.4
requests==2.27.1
requests-oauthlib==1.3.1
robomimic==0.2.0
robosuite @ git+https://git@github.com/ARISE-Initiative/robosuite.git@d9baa17d5328d7b0ec15ecda54c76c61bb983124
rsa==4.8
scipy==1.8.0
seaborn==0.11.2
#six==1.15.0
stack-data==0.2.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow-addons==0.16.1
tensorflow-estimator==2.6.0
tensorflow-gpu==2.6.2
tensorflow-plot==0.3.2
tensorflow-probability==0.14.0
termcolor==1.1.0
#torch==1.6.0
#torchvision==0.7.0
tqdm==4.62.3
traitlets==5.1.1
typeguard==2.13.3
typing-extensions==3.7.4.3
urllib3==1.26.8
wcwidth==0.2.5
Werkzeug==2.0.3
wrapt==1.12.1
zipp==3.7.0
